<header>
    <div class="container nav">
        <a class="brand" href="../index.html">
            <img src="https://dummyimage.com/72x72/00cfd5/ffffff.png&text=CT" alt="ControTik Logo" width="36"
                height="36" style="border-radius:8px" />
            <b>ControTik</b>
        </a>
        <nav class="menu">
            <a href="../index.html#features">الميزات</a>
            <a href="../index.html#integrations">التكامل</a>
            <a href="../index.html#pricing">الأسعار</a>
            <a href="../index.html#contact" class="cta">✨ اطلب النسخة</a>
        </nav>
    </div>


</header>